.backgroundImage{
  background: url("https://i0.fiuxy.com/9f007988aa914577323666aab36a5a56d099462e?url=http%3A%2F%2Fwww.temporadafinal.com%2Fgallery%2F6272greys-anatomy.jpg");
}

.mondrea{
  background-image: url("https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg");
}
h2{
  text-align: justify;
  font-family: fantasy;
}
